<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ Bank</title>
    <link rel="stylesheet" th:href="@{/style.css}"> </head>
<body>
<header>
        <a href="/home">
            <h1 class="bank-name">XYZ Bank</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/open-account">Open Account</a></li>
                <li><a href="/order-card">Apply for Credit Card</a></li>
                <li><a href="/order-card">Get Debit Card</a></li>
                <li><a href="#">Transactions</a></li>
                <li><a href="#">Dues</a></li>
            </ul>
        </nav>
    </header>
<p th:text = " 'Hi '+${accntId}+','"></p>
<br>
<p th:text = " 'Your card has been successfully delivered to you. Please note the below '+${crdTyp}+' number for your future use.'"></p>
<p th:text = "${cardnumber}"></p>
<br>
<p>Thanks</p>
</body></html>