<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ Bank</title>
    <link rel="stylesheet" th:href="@{/style.css}"> </head>
<body>
<header>
        <a href="/home">
            <h1 class="bank-name">XYZ Bank</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/open-account">Open Account</a></li>
                <li><a href="/order-card">Apply for Credit Card</a></li>
                <li><a href="/order-card">Get Debit Card</a></li>
                <li><a href="#">Transactions</a></li>
                <li><a href="#">Dues</a></li>
            </ul>
        </nav>
    </header>
<form method="post" action="/register-account">
<label>Full Name:</label>
<input type="text" name = "name" required><br>
<label>Employee Id:</label>
<input type="text" name = "empid" required><br>
<button type="submit" >Access</button>
<div th:if = "${error}" ><p style=color:red;font-size:13 th:text = "${error}+'!'"></p></div>
</form>
</body>
</html>