<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ Bank</title>
    <link rel="stylesheet" th:href="@{/style.css}"> </head>
<body>
<header>
        <a href="/home">
            <h1 class="bank-name">XYZ Bank</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/open-account">Open Account</a></li>
                <li><a href="/order-card">Apply for Credit Card</a></li>
                <li><a href="/order-card">Get Debit Card</a></li>
                <li><a href="#">Transactions</a></li>
                <li><a href="#">Dues</a></li>
            </ul>
        </nav>
    </header>
    <div th:if = "${error}" ><p style=color:red;font-size:13 th:text = "${error}+'!'"></p></div>

<form method="post" action="/deliver-card">
<label>Enter your account number:</label>
<input type="text" name = "accntid" required><br><br>
<label>Enter desired card type (Debit_Card or Credit_Card):</label>
<input type="text" name = "crdtyp" required><br><br>
<label>Enter desired limit for your card:</label>
<input type="text" name = "limit" required><br><br>
<button type="submit" >Apply for the card</button>
</form>
</body>
</html>